.actions {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: var(--actions-height);
  gap: 1rem;
  margin-bottom: 1rem;
}

.actions > button {
  font-size: 1.3rem;
  width: 10rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  background-color: var(--main-font-color);
  color: var(--primary-color);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.actions > button:hover {
  background-color: var(--primary-color);
  color: var(--main-font-color);
}
